body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #42d1ab !important;
}
.bg-success {
  background-color: #329beb !important;
}
.bg-info {
  background-color: #90dad8 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #42d1ab !important;
  border-color: #42d1ab !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #259779 !important;
  border-color: #259779 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #259779 !important;
  border-color: #259779 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #42d1ab !important;
  border-color: #42d1ab !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #259779 !important;
  border-color: #259779 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #259779 !important;
  border-color: #259779 !important;
}
.btn-info,
.btn-info:active {
  background-color: #90dad8 !important;
  border-color: #90dad8 !important;
  color: #1b504f !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #4fc4c1 !important;
  border-color: #4fc4c1 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #1b504f !important;
  background-color: #4fc4c1 !important;
  border-color: #4fc4c1 !important;
}
.btn-success,
.btn-success:active {
  background-color: #329beb !important;
  border-color: #329beb !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #126eb5 !important;
  border-color: #126eb5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #126eb5 !important;
  border-color: #126eb5 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #42d1ab;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #259779 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #42d1ab !important;
  border-color: #42d1ab !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #42d1ab;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #259779 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #42d1ab !important;
  border-color: #42d1ab !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #90dad8;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #4fc4c1 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #1b504f !important;
  background-color: #90dad8 !important;
  border-color: #90dad8 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #329beb;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #126eb5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #329beb !important;
  border-color: #329beb !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #42d1ab !important;
}
.text-secondary {
  color: #42d1ab !important;
}
.text-success {
  color: #329beb !important;
}
.text-info {
  color: #90dad8 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #228b6f !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #228b6f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1066a7 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #43c1bd !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #42d1ab;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #90dad8;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #42d1ab;
  border-color: #42d1ab;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #42d1ab;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e6f9f4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ecf6fd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #42d1ab !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #42d1ab;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #42d1ab;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #42d1ab;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #42d1ab;
  border-bottom-color: #42d1ab;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #42d1ab !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #42d1ab !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2342d1ab' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sFGzlAXw3z .navbar-dropdown {
  position: relative !important;
}
.cid-sFGzlAXw3z .navbar-dropdown {
  position: absolute !important;
}
.cid-sFGzlAXw3z .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFGzlAXw3z .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sFGzlAXw3z .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sFGzlAXw3z .dropdown-item:hover,
.cid-sFGzlAXw3z .dropdown-item:focus {
  background: #42d1ab !important;
  color: white !important;
}
.cid-sFGzlAXw3z .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sFGzlAXw3z .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sFGzlAXw3z .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sFGzlAXw3z .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sFGzlAXw3z .nav-link {
  position: relative;
}
.cid-sFGzlAXw3z .container {
  display: flex;
  margin: auto;
}
.cid-sFGzlAXw3z .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sFGzlAXw3z .dropdown-menu,
.cid-sFGzlAXw3z .navbar.opened {
  background: #42d1ab !important;
}
.cid-sFGzlAXw3z .nav-item:focus,
.cid-sFGzlAXw3z .nav-link:focus {
  outline: none;
}
.cid-sFGzlAXw3z .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sFGzlAXw3z .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sFGzlAXw3z .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sFGzlAXw3z .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFGzlAXw3z .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sFGzlAXw3z .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sFGzlAXw3z .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(66, 209, 171, 0);
}
.cid-sFGzlAXw3z .navbar.opened {
  transition: all 0.3s;
}
.cid-sFGzlAXw3z .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sFGzlAXw3z .navbar .navbar-logo img {
  width: auto;
}
.cid-sFGzlAXw3z .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sFGzlAXw3z .navbar.collapsed {
  justify-content: center;
}
.cid-sFGzlAXw3z .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sFGzlAXw3z .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sFGzlAXw3z .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sFGzlAXw3z .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sFGzlAXw3z .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sFGzlAXw3z .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sFGzlAXw3z .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sFGzlAXw3z .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sFGzlAXw3z .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sFGzlAXw3z .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sFGzlAXw3z .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sFGzlAXw3z .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sFGzlAXw3z .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sFGzlAXw3z .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sFGzlAXw3z .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sFGzlAXw3z .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sFGzlAXw3z .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sFGzlAXw3z .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sFGzlAXw3z .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sFGzlAXw3z .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sFGzlAXw3z .navbar.navbar-short {
  min-height: 60px;
}
.cid-sFGzlAXw3z .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sFGzlAXw3z .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sFGzlAXw3z .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sFGzlAXw3z .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sFGzlAXw3z .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sFGzlAXw3z .dropdown-item.active,
.cid-sFGzlAXw3z .dropdown-item:active {
  background-color: transparent;
}
.cid-sFGzlAXw3z .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sFGzlAXw3z .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sFGzlAXw3z .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sFGzlAXw3z .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #42d1ab;
}
.cid-sFGzlAXw3z .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sFGzlAXw3z .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sFGzlAXw3z ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sFGzlAXw3z .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sFGzlAXw3z button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sFGzlAXw3z button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #42d1ab;
}
.cid-sFGzlAXw3z button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sFGzlAXw3z button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFGzlAXw3z button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFGzlAXw3z button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sFGzlAXw3z nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFGzlAXw3z nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sFGzlAXw3z nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sFGzlAXw3z nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFGzlAXw3z .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sFGzlAXw3z a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sFGzlAXw3z .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sFGzlAXw3z .navbar {
    height: 70px;
  }
  .cid-sFGzlAXw3z .navbar.opened {
    height: auto;
  }
  .cid-sFGzlAXw3z .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tQpi394saN {
  background-image: url("../../../assets/images/untitled-design-6-2000x1125.png");
}
.cid-tQpseBl1BZ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f4fcf9;
}
.cid-tQpseBl1BZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQpseBl1BZ .mbr-section-subtitle {
  width: fit-content;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.cid-tQpseBl1BZ .mbr-section-subtitle:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 12px;
  background: #d4ceff;
  z-index: -1;
}
.cid-tQpseBl1BZ img {
  border-radius: 1rem;
}
.cid-tQpseBl1BZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQpseBl1BZ .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tQpseBl1BZ .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tQpseBl1BZ .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tQpseBl1BZ .mbr-section-title {
  color: #19303d;
  text-align: center;
}
.cid-tQpseBl1BZ .mbr-section-subtitle,
.cid-tQpseBl1BZ .subtitle-wrap {
  color: #19303d;
}
.cid-tQpseBl1BZ .mbr-text,
.cid-tQpseBl1BZ .mbr-section-btn {
  color: #19303d;
}
.cid-tQps8wLcG6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/untitled-design-11-2000x1125.png");
}
.cid-tQps8wLcG6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQps8wLcG6 .mbr-section-subtitle {
  width: fit-content;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.cid-tQps8wLcG6 .mbr-section-subtitle:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 12px;
  background: #d4ceff;
  z-index: -1;
}
.cid-tQps8wLcG6 img {
  border-radius: 1rem;
}
.cid-tQps8wLcG6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQps8wLcG6 .row {
  flex-direction: row-reverse;
}
.cid-tQps8wLcG6 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tQps8wLcG6 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tQps8wLcG6 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tQps8wLcG6 .mbr-section-title {
  color: #ffffff;
}
.cid-tQps8wLcG6 .mbr-section-subtitle,
.cid-tQps8wLcG6 .subtitle-wrap {
  color: #19303d;
}
.cid-tQps8wLcG6 .mbr-text,
.cid-tQps8wLcG6 .mbr-section-btn {
  color: #ffffff;
}
.cid-tQpuLlJrV4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
@media (min-width: 1500px) {
  .cid-tQpuLlJrV4 .container {
    max-width: 1400px;
  }
}
.cid-tQpuLlJrV4 .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #42d1ab;
  margin-bottom: 2rem;
}
.cid-tQpuLlJrV4 .card-wrapper {
  margin-top: 3rem;
}
.cid-tQpuLlJrV4 .row {
  justify-content: center;
}
.cid-tQpuLlJrV4 .mbr-section-title {
  color: #42d1ab;
}
.cid-tQpuLlJrV4 .card-title,
.cid-tQpuLlJrV4 .iconfont-wrapper {
  color: #42d1ab;
}
.cid-tQpuLlJrV4 .card-text {
  color: #42d1ab;
}
.cid-tQpuLlJrV4 .mbr-section-subtitle {
  color: #42d1ab;
}
.cid-tQpDhpCd7h {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-4-1920x1280.jpg");
}
.cid-tQpDhpCd7h .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQpDhpCd7h .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tQpDhpCd7h .container {
    padding: 0 25px;
  }
}
.cid-tQpDhpCd7h .row {
  justify-content: center;
}
.cid-tQpDhpCd7h .title-wrapper .mbr-section-title {
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .cid-tQpDhpCd7h .title-wrapper .mbr-section-title {
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  .cid-tQpDhpCd7h .card {
    margin-bottom: 50px;
  }
}
.cid-tQpDhpCd7h .card .card-wrap {
  padding: 0 34px;
}
@media (max-width: 992px) {
  .cid-tQpDhpCd7h .card .card-wrap {
    padding: 0;
  }
}
.cid-tQpDhpCd7h .card .card-wrap .icon-wrapper {
  padding: 20px 0;
}
.cid-tQpDhpCd7h .card .card-wrap .icon-wrapper .mbr-iconfont {
  display: inline-flex;
  font-size: 50px;
  color: #ffffff;
}
.cid-tQpDhpCd7h .card .card-wrap .mbr-card-title {
  margin-bottom: 10px;
}
.cid-tQpDhpCd7h .card .card-wrap .mbr-text {
  margin-bottom: 0;
}
.cid-tQpDhpCd7h .mbr-section-title {
  color: #E33030;
  text-align: center;
}
.cid-tQpDhpCd7h .mbr-card-title {
  color: #E33030;
}
.cid-tQpDhpCd7h .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-tQpDhpCd7h .mbr-card-title,
.cid-tQpDhpCd7h .icon-wrapper {
  text-align: center;
  color: #ffffff;
}
.cid-tQpDhpCd7h .mbr-section-title,
.cid-tQpDhpCd7h .icon-wrapper {
  color: #ffffff;
}
.cid-tQpHGFE3bc {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #fafafa;
}
.cid-tQpHGFE3bc .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-tQpHGFE3bc .plan-body {
  padding-bottom: 2rem;
}
.cid-tQpHGFE3bc .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tQpHGFE3bc .price {
  color: #42d1ab;
}
.cid-tQpHGFE3bc .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-tQpHGFE3bc .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-tQpHGFE3bc .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-tQpHGFE3bc .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-tQpHGFE3bc .plan {
    margin-bottom: 2rem;
  }
}
.cid-tQpwQvUXkS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #42d1ab;
}
.cid-tQpwQvUXkS .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #42d1ab;
  margin-bottom: 2rem;
}
.cid-tQpwQvUXkS .card-wrapper {
  border-radius: 2rem;
  transition: all 0.3s;
  padding: 3rem;
  background: #ffffff;
}
.cid-tQpwQvUXkS .card-wrapper:hover {
  box-shadow: 0 50px 50px -25px rgba(0, 0, 0, 0.3);
  transform: rotate(-2deg) scale(1.03);
}
@media (max-width: 992px) {
  .cid-tQpwQvUXkS .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tQpwQvUXkS .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-tQpwQvUXkS .mbr-text {
  color: #42d1ab;
}
.cid-tQpwQvUXkS .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tQpwQvUXkS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQpwQvUXkS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQpwQvUXkS .mbr-section-title {
  color: #ffffff;
}
.cid-tQpwQvUXkS .card-title {
  color: #42d1ab;
}
.cid-tQpwQvUXkS .link {
  color: #42d1ab;
}
.cid-tQpx0ywomq {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tQpx0ywomq .google-map {
  height: 30rem;
  position: relative;
}
.cid-tQpx0ywomq .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tQpx0ywomq .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tQpx0ywomq .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tQpx0ywomq .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tQpwoLdazn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #329beb;
}
.cid-tQpwoLdazn .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tQpwoLdazn .social-row {
  width: 100%;
  justify-content: center;
}
.cid-tQpwoLdazn .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-tQpwoLdazn .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tQpwoLdazn .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tQpwoLdazn .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-tQpwoLdazn .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-tQpwoLdazn .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-tQpwoLdazn .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-tQpwoLdazn .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-tQpwoLdazn .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tQpwoLdazn .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tQpwoLdazn .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-tQpwoLdazn .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-tQpmkDHR0s .navbar-dropdown {
  position: relative !important;
}
.cid-tQpmkDHR0s .navbar-dropdown {
  position: absolute !important;
}
.cid-tQpmkDHR0s .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tQpmkDHR0s .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tQpmkDHR0s .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tQpmkDHR0s .dropdown-item:hover,
.cid-tQpmkDHR0s .dropdown-item:focus {
  background: #42d1ab !important;
  color: white !important;
}
.cid-tQpmkDHR0s .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tQpmkDHR0s .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tQpmkDHR0s .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tQpmkDHR0s .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tQpmkDHR0s .nav-link {
  position: relative;
}
.cid-tQpmkDHR0s .container {
  display: flex;
  margin: auto;
}
.cid-tQpmkDHR0s .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tQpmkDHR0s .dropdown-menu,
.cid-tQpmkDHR0s .navbar.opened {
  background: #ffffff !important;
}
.cid-tQpmkDHR0s .nav-item:focus,
.cid-tQpmkDHR0s .nav-link:focus {
  outline: none;
}
.cid-tQpmkDHR0s .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tQpmkDHR0s .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tQpmkDHR0s .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tQpmkDHR0s .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tQpmkDHR0s .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tQpmkDHR0s .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tQpmkDHR0s .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0);
}
.cid-tQpmkDHR0s .navbar.opened {
  transition: all 0.3s;
}
.cid-tQpmkDHR0s .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tQpmkDHR0s .navbar .navbar-logo img {
  width: auto;
}
.cid-tQpmkDHR0s .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tQpmkDHR0s .navbar.collapsed {
  justify-content: center;
}
.cid-tQpmkDHR0s .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tQpmkDHR0s .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tQpmkDHR0s .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tQpmkDHR0s .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tQpmkDHR0s .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tQpmkDHR0s .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tQpmkDHR0s .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tQpmkDHR0s .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tQpmkDHR0s .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tQpmkDHR0s .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tQpmkDHR0s .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tQpmkDHR0s .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tQpmkDHR0s .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tQpmkDHR0s .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tQpmkDHR0s .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tQpmkDHR0s .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tQpmkDHR0s .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tQpmkDHR0s .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tQpmkDHR0s .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tQpmkDHR0s .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tQpmkDHR0s .navbar.navbar-short {
  min-height: 60px;
}
.cid-tQpmkDHR0s .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tQpmkDHR0s .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tQpmkDHR0s .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tQpmkDHR0s .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tQpmkDHR0s .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tQpmkDHR0s .dropdown-item.active,
.cid-tQpmkDHR0s .dropdown-item:active {
  background-color: transparent;
}
.cid-tQpmkDHR0s .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tQpmkDHR0s .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tQpmkDHR0s .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tQpmkDHR0s .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tQpmkDHR0s .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tQpmkDHR0s .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tQpmkDHR0s ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tQpmkDHR0s .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tQpmkDHR0s button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tQpmkDHR0s button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tQpmkDHR0s button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tQpmkDHR0s button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tQpmkDHR0s button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tQpmkDHR0s button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tQpmkDHR0s nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tQpmkDHR0s nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tQpmkDHR0s nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tQpmkDHR0s nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tQpmkDHR0s .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tQpmkDHR0s a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tQpmkDHR0s .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tQpmkDHR0s .navbar {
    height: 70px;
  }
  .cid-tQpmkDHR0s .navbar.opened {
    height: auto;
  }
  .cid-tQpmkDHR0s .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tQpmkEliZp {
  background-image: url("../../../assets/images/untitled-design-6-2000x1125.png");
}
.cid-tQpmkERL95 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #353535;
}
.cid-tQpmkERL95 .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .cid-tQpmkERL95 .item {
    margin-bottom: 4rem;
  }
}
.cid-tQpmkERL95 .item:last-child .icon-box:before {
  display: none;
}
.cid-tQpmkERL95 .item.last .icon-box:before {
  display: none;
}
.cid-tQpmkERL95 .step-number {
  padding-top: 6px;
}
.cid-tQpmkERL95 .icon-box {
  background: #c37a7a;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tQpmkERL95 .icon-box {
    margin-right: 1rem;
  }
}
.cid-tQpmkERL95 .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 120%;
  color: #c37a7a;
  transform: translate(-50%, 0);
}
.cid-tQpmkERL95 span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tQpmkERL95 .card {
    margin-bottom: 2rem;
  }
  .cid-tQpmkERL95 .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tQpmkERL95 .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-tQpmkERL95 .icon-box::before {
    top: 114%;
  }
}
.cid-tQpmkERL95 .card-title,
.cid-tQpmkERL95 .card-box {
  color: #bbbbbb;
}
.cid-tQpmkERL95 .icon-text {
  color: #bbbbbb;
}
.cid-tQpmkFyuB3 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ecede8;
}
.cid-tQpmkFyuB3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQpmkFyuB3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQpmkFyuB3 img {
  border-radius: 3rem;
}
.cid-tQpmkFyuB3 .row {
  flex-direction: row-reverse;
}
.cid-tQpmkFyuB3 .row {
  align-items: center;
}
.cid-tQpmkFyuB3 .mbr-section-title {
  color: #491414;
}
.cid-tQpmkFyuB3 .mbr-text,
.cid-tQpmkFyuB3 .mbr-section-btn {
  color: #491414;
}
.cid-tQpmkG42hd {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #1d5356;
}
.cid-tQpmkG42hd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQpmkG42hd .mbr-section-title {
  padding-bottom: 5rem;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tQpmkG42hd .mbr-section-title {
    padding-bottom: 2rem;
  }
}
@media (min-width: 1400px) {
  .cid-tQpmkG42hd .text-wrapper {
    padding: 0 3rem;
  }
}
.cid-tQpmkG42hd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQpmkG42hd img {
  border-radius: 3rem;
}
.cid-tQpmkG42hd .mbr-text,
.cid-tQpmkG42hd .mbr-section-btn {
  color: #ffffff;
}
.cid-tQpmkGyU3E {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-tQpmkGyU3E .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tQpmkGyU3E .row {
    flex-direction: column-reverse;
  }
  .cid-tQpmkGyU3E .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tQpmkGyU3E .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tQpmkGyU3E .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-tQpmkGyU3E .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tQpmkGyU3E .mbr-text,
.cid-tQpmkGyU3E .mbr-section-btn {
  color: #bbbbbb;
}
.cid-tQpmkGyU3E .card-title {
  color: #379683;
}
.cid-tQpmkH4TeH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #353535;
}
.cid-tQpmkH4TeH img,
.cid-tQpmkH4TeH .item-img {
  width: 100%;
}
.cid-tQpmkH4TeH .item:focus,
.cid-tQpmkH4TeH span:focus {
  outline: none;
}
.cid-tQpmkH4TeH .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tQpmkH4TeH .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #232323;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tQpmkH4TeH .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tQpmkH4TeH .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tQpmkH4TeH .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tQpmkH4TeH .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tQpmkH4TeH .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tQpmkH4TeH .mbr-section-title {
  color: #c37a7a;
}
.cid-tQpmkH4TeH .mbr-text,
.cid-tQpmkH4TeH .mbr-section-btn {
  text-align: left;
  color: #bbbbbb;
}
.cid-tQpmkH4TeH .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-tQpmkH4TeH .item-subtitle {
  text-align: left;
}
.cid-tQpmkHEbTd {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tQpmkHEbTd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQpmkHEbTd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQpmkHEbTd .container-fluid {
  padding: 0 50px;
}
@media (max-width: 992px) {
  .cid-tQpmkHEbTd .container-fluid {
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
  .cid-tQpmkHEbTd .container {
    padding: 0 30px;
  }
}
.cid-tQpmkHEbTd .item {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-tQpmkHEbTd .item {
    margin-bottom: 30px;
  }
}
.cid-tQpmkHEbTd .item:nth-child(2n) .item-wrapper {
  margin-right: 0;
  margin-left: 16px;
}
@media (max-width: 992px) {
  .cid-tQpmkHEbTd .item:nth-child(2n) .item-wrapper {
    margin: 0;
  }
}
.cid-tQpmkHEbTd .item .item-wrapper:hover .item-img img {
  transform: scale(1.04);
}
@media (max-width: 992px) {
  .cid-tQpmkHEbTd .item .item-wrapper {
    margin: 0;
  }
}
.cid-tQpmkHEbTd .item .item-wrapper .item-img {
  overflow: hidden;
  border-radius: 2em;
  margin-bottom: 30px;
}
.cid-tQpmkHEbTd .item .item-wrapper .item-img img {
  height: 550px;
  object-fit: cover;
  border-radius: 2em;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .cid-tQpmkHEbTd .item .item-wrapper .item-img img {
    height: 300px;
  }
}
.cid-tQpmkHEbTd .item .item-wrapper .item-content .mbr-section-title {
  margin-bottom: 20px;
}
.cid-tQpmkHEbTd .item .item-wrapper .item-content .desc-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .cid-tQpmkHEbTd .item .item-wrapper .item-content .desc-wrap {
    display: block;
  }
}
.cid-tQpmkHEbTd .item .item-wrapper .item-content .desc-wrap .mbr-desc {
  padding: 8px 20px;
  margin-bottom: 0;
  background-color: #fe5115;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .cid-tQpmkHEbTd .item .item-wrapper .item-content .desc-wrap .mbr-desc {
    margin-bottom: 20px;
  }
}
.cid-tQpmkHEbTd .item .item-wrapper .item-content .desc-wrap .mbr-date {
  margin-bottom: 0;
}
.cid-tQpmkHEbTd .item .item-wrapper .item-content .mbr-text {
  margin-bottom: 0;
}
.cid-tQpmkHEbTd .item .item-wrapper .item-content .mbr-section-btn {
  margin-top: 20px;
}
.cid-tQpmkHEbTd .mbr-section-title {
  color: #2b2b2b;
}
.cid-tQpmkHEbTd .mbr-desc {
  color: #ffffff;
}
.cid-tQpmkHEbTd .mbr-date {
  color: #4e4e4e;
}
.cid-tQpmkHEbTd .mbr-text {
  color: #4e4e4e;
}
.cid-tQpmkIc28D {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-tQpmkIc28D .card-wrapper {
  background-color: #353535;
  margin-bottom: 2rem;
  border-radius: 4px;
  background: #353535;
  transition: all 0.3s;
  padding: 2rem;
  padding-top: 3rem;
}
.cid-tQpmkIc28D .mbr-section-title,
.cid-tQpmkIc28D .mbr-section-subtitle {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tQpmkIc28D .card-wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 767px) {
  .cid-tQpmkIc28D .card-wrapper {
    padding: 1rem;
    padding-top: 2rem;
  }
}
.cid-tQpmkIc28D .card-title {
  color: #379683;
}
.cid-tQpmkIc28D .mbr-text {
  color: #bbbbbb;
}
.cid-tQpmkIc28D .price {
  color: #379683;
}
.cid-tQpmkIc28D .mbr-section-title {
  color: #379683;
}
.cid-tQpmkJ8n8t {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tQpmkJ8n8t {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tQpmkJ8n8t .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tQpmkJ8n8t .mbr-overlay {
  border-radius: 1.2rem;
}
.cid-tQpmkJ8n8t .row {
  position: relative;
  padding: 0 28px 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #ed2c03;
}
.cid-tQpmkJ8n8t .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQpmkJ8n8t .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tQpmkJ8n8t .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tQpmkJ8n8t .title-wrapper .mbr-section-title {
  margin-bottom: 72px;
}
@media (max-width: 992px) {
  .cid-tQpmkJ8n8t .title-wrapper .mbr-section-title {
    margin-bottom: 30px;
  }
}
.cid-tQpmkJ8n8t .card {
  padding: 0 6px;
}
@media (max-width: 992px) {
  .cid-tQpmkJ8n8t .card {
    padding: 0 12px;
    margin-bottom: 24px;
  }
}
.cid-tQpmkJ8n8t .card .card-wrapper {
  padding: 26px;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 2em;
}
@media (max-width: 992px) {
  .cid-tQpmkJ8n8t .card .card-wrapper {
    padding: 30px 15px;
    margin-bottom: 16px;
    min-height: 300px;
  }
}
.cid-tQpmkJ8n8t .card .card-wrapper .icon-wrapper .mbr-iconfont {
  font-size: 72px;
  display: inline-flex;
  color: #ed2c03;
}
.cid-tQpmkJ8n8t .card .card-wrapper .mbr-card-title {
  margin-bottom: 18px;
}
@media (max-width: 768px) {
  .cid-tQpmkJ8n8t .card .card-wrapper .mbr-card-title {
    margin-bottom: 15px;
  }
}
.cid-tQpmkJ8n8t .card .card-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tQpmkJ8n8t .mbr-section-title {
  color: #ffffff;
}
.cid-tQpmkJ8n8t .mbr-card-title {
  color: #ed2c03;
}
.cid-tQpmkJ8n8t .mbr-text {
  color: #000000;
}
.cid-tQpmkJXi8b {
  padding-top: 6rem;
  padding-bottom: 7rem;
  background: #353535;
}
.cid-tQpmkJXi8b .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tQpmkJXi8b .team-card:hover {
  transform: translateY(-10px);
}
.cid-tQpmkJXi8b .card-wrap {
  background: #232323;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tQpmkJXi8b .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tQpmkJXi8b .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tQpmkJXi8b .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tQpmkJXi8b .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tQpmkJXi8b .social-row {
  text-align: center;
}
.cid-tQpmkJXi8b .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #c37a7a;
  transition: all 0.3s;
}
.cid-tQpmkJXi8b .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #c37a7a;
  font-size: 1.5rem;
}
.cid-tQpmkJXi8b .social-row .soc-item:hover {
  background-color: #c37a7a;
}
.cid-tQpmkJXi8b .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-tQpmkJXi8b .card-title,
.cid-tQpmkJXi8b .social-row {
  color: #c7493a;
}
.cid-tQpmkJXi8b .card-text,
.cid-tQpmkJXi8b .mbr-section-btn,
.cid-tQpmkJXi8b .social-row {
  color: #bbbbbb;
}
.cid-tQpmkJXi8b .mbr-role,
.cid-tQpmkJXi8b .social-row {
  color: #c37a7a;
}
.cid-tQpmkJXi8b .mbr-section-title {
  color: #c37a7a;
}
.cid-tQpmkLmvN9 {
  padding-top: 8rem;
  padding-bottom: 9rem;
  background-color: #232323;
}
.cid-tQpmkLmvN9 img {
  width: 120px;
  margin: auto;
  filter: invert(1);
}
.cid-tQpmkLmvN9 .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tQpmkLmvN9 .card {
    max-width: 12.5%;
  }
}
.cid-tQpmkLmvN9 .mbr-section-title {
  color: #379683;
}
.cid-tQpmkLVB2Z {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #353535;
}
.cid-tQpmkLVB2Z .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #42d1ab;
  margin-bottom: 2rem;
}
.cid-tQpmkLVB2Z .card-wrapper {
  padding: 3rem;
  background: #232323;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .cid-tQpmkLVB2Z .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tQpmkLVB2Z .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-tQpmkLVB2Z .mbr-section-title {
  color: #c37a7a;
}
.cid-tQpmkLVB2Z .card-title {
  color: #bbbbbb;
}
.cid-tQpmkLVB2Z .mbr-text {
  color: #bbbbbb;
}
.cid-tQpmkLVB2Z .mbr-section-subtitle {
  color: #bbbbbb;
}
.cid-tQpmkMyYwP {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #353535;
}
.cid-tQpmkMyYwP .google-map {
  height: 350px;
  position: relative;
}
.cid-tQpmkMyYwP .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tQpmkMyYwP .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tQpmkMyYwP .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tQpmkMyYwP .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tQpmkMyYwP .mbr-section-title {
  color: #c37a7a;
}
.cid-tQpmkMyYwP .mbr-section-subtitle {
  color: #bbbbbb;
}
.cid-tQpwoLdazn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #329beb;
}
.cid-tQpwoLdazn .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tQpwoLdazn .social-row {
  width: 100%;
  justify-content: center;
}
.cid-tQpwoLdazn .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-tQpwoLdazn .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tQpwoLdazn .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tQpwoLdazn .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-tQpwoLdazn .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-tQpwoLdazn .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-tQpwoLdazn .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-tQpwoLdazn .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-tQpwoLdazn .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tQpwoLdazn .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tQpwoLdazn .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-tQpwoLdazn .media-container-row .row-copirayt p {
  width: 100%;
}
